python-dotenv
flask
flask_migrate
flask_sqlalchemy
py7zr
rarfile
jsonschema
jsonschema-specifications
timm
selenium
pyodbc
psycopg2
pandas
openpyxl
thefuzz
pycryptodome
webdriver_manager
jsonmerge
reportlab
